
// -----------------------------------------------------------------------------
// VALO LIGHT
// Modify the base color of the theme
// see. https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
$v-background-color: hsl(0, 0, 99.5%);
$v-app-background-color: #fff;
$v-focus-color: hsl(218, 80%, 60%);
$v-border: 1px solid (v-shade 0.6);
$v-border-radius: 3px;
$v-bevel: inset 0 1px 0 v-tint;
$v-textfield-bevel: false;
$v-gradient: v-linear 3%;
$v-shadow: false;
$valo-menu-background-color: hsl(218, 20%, 98%);
$v-friendly-color: hsl(163, 61%, 41%);
$v-error-indicator-color: hsl(349, 66%, 56%);

// Custom - Rodrigo
$v-font-size: 14px;
$v-unit-size: 25px;
$v-line-height: 1.0;
$v-app-loading-text: "Preparando seu gestor Veertual...";
$v-layout-margin-top: 10px;
$v-layout-margin-right: 10px;
$v-layout-margin-bottom: 10px;
$v-layout-margin-left: 10px;

// Import valo after setting the parameters
@import "../valo/valo";

.tests-valo-light .valo-menu .valo-menu-title {
  background: $v-app-background-color;
  color: $v-selection-color;
  text-shadow: none;
  border-color: first-color(valo-border($color: $v-app-background-color, $strength: 0.5));
}

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin valo-light {

    /* Include all the styles from the reindeer theme */
    @include valo;

    // CSS
    .v-window-subtarefa {
        background: #adc4eb;
    }
    /* Insert your theme rules here */
    /*.v-table-body{
        overflow: hidden !important;
    }*/


    .v-tree-node-no-children{
        background: none;
    }
    /*
        v-tree-node-expanded {
            background-position: -5px -10px;
        }
    */
    .v-tree-node {
        background-image: url("img/icone-treeview.jpeg");

        padding: 1px 0;
    }

    .v-select-optiongroup-horizontal .v-select-option {
        display: inline-block;
    }

    .v-select-optiongroup-horizontal {
        white-space: nowrap;
    }

    .v-select-optiongroup-horizontal .v-select-option.v-radiobutton {
        padding-right: 10px;
    }

    .v-margin-left   {padding-left:   10px;}
    .v-margin-right  {padding-right:  10px;}
    .v-margin-top    {padding-top:    10px;}
    .v-margin-bottom {padding-bottom: 10px;}
}