<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;PAPER_WIDTH&quot;:308,&quot;PAPER_HEIGHT&quot;:175,&quot;PAPER_SCROLL_LEFT&quot;:2314,&quot;PAPER_SCROLL_TOP&quot;:2341,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo-blueprint&quot;}">
 </head> 
 <body> 
  <v-vertical-layout size-full="true"> 
   <v-button width="192px" height-full="true" plain-text="" :middle="" :center="">
     Button 
   </v-button> 
   <v-list-select item-caption-mode="id"> 
    <option>Option 1</option> 
    <option>Option 2</option> 
    <option>Option 3</option> 
   </v-list-select> 
  </v-vertical-layout>  
 </body>
</html>