// Modify the base color of the theme
// $v-background-color: hsl(200, 50%, 50%);
$v-unit-size: 20px;

// Import valo after setting the parameters
@import "../valo/valo";


/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin mytheme {

    /* Include all the styles from the reindeer theme */
  @include valo;


    /* Insert your theme rules here */
    /*.v-table-body{
        overflow: hidden !important;
    }*/


    .v-tree-node-no-children{
        background: none;
    }
/*
    v-tree-node-expanded {
        background-position: -5px -10px;
    }
*/
    .v-tree-node {
        background-image: url("img/icone-treeview.jpeg");

        padding: 1px 0;
    }

    .v-select-optiongroup-horizontal .v-select-option {
        display: inline-block;
    }

    .v-select-optiongroup-horizontal {
        white-space: nowrap;
    }

    .v-select-optiongroup-horizontal .v-select-option.v-radiobutton {
        padding-right: 10px;
    }
}