/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin mytheme {
    /* Include all the styles from the reindeer theme */
    @include reindeer;


    /* Insert your theme rules here */
    .v-table-body{
        overflow: hidden !important;
    }


    .v-tree-node-no-children{
        background: none;
    }
    
    v-tree-node-expanded {
        background-position: -5px -10px;
    }
    
    .v-tree-node {
        /*background: url("img/icone-treeview.jpeg") no-repeat scroll 5px -37px transparent;*/
        background: none;
        
        padding: 1px 0;
    }

}