@import "addons.scss";
@import "valo-blueprint.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in mytheme.scss */
.valo-blueprint {
  @include addons;


  @include valo-blueprint;
}
