// Modify the base color of the theme
// see. https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
$v-background-color: #000;
$v-focus-color: #ffa500;
$v-font-size: 15px;
$v-font-weight: 600;
$v-unit-size: 42px;
$v-bevel: false;
$v-shadow: false;
$v-gradient: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-border-radius: 0;
$v-border: 2px solid v-tone;
$v-overlay-shadow: 0 0 0 2px (v-tint 10);
$v-focus-style: $v-focus-color;
$v-font-family: "Lato", sans-serif;
$v-font-weight--header: 600;

// Custom - Rodrigo
$v-font-size: 14px;
$v-unit-size: 25px;
$v-line-height: 1.0;
$v-app-loading-text: "Preparando seu gestor Veertual...";
$v-layout-margin-top: 10px;
$v-layout-margin-right: 10px;
$v-layout-margin-bottom: 10px;
$v-layout-margin-left: 10px;


// Import valo after setting the parameters
@import "../valo/valo";


/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin valo-flat-dark {

    /* Include all the styles from the reindeer theme */
    @include valo;

    // CSS
  
    .v-tree-node-no-children{
        background: none;
    }
    
    .v-select-optiongroup-horizontal .v-select-option {
        display: inline-block;
    }

    .v-select-optiongroup-horizontal {
        white-space: nowrap;
    }

    .v-select-optiongroup-horizontal .v-select-option.v-radiobutton {
        padding-right: 10px;
    }

    .v-margin-left   {padding-left:   10px;}
    .v-margin-right  {padding-right:  10px;}
    .v-margin-top    {padding-top:    10px;}
    .v-margin-bottom {padding-bottom: 10px;}
    
    .valo-flat-dark.v-button-link {
	color: inherit;
    }

}